.row
    .span12
        .t2em.special.top-bottom-twenty-margin
            About
        .t1em
            .block.bottom-ten-margin
                Estlin Love is a skilled and highly performative aerialist. Predominantly specialising in swinging cloudswing and static chains, she is a stage presence to be reckoned with. Poetic, alluring and acrobatic with a huge sense of mischief and fun, Estlin is a rare gem who brings life, intrigue and excitement to any and all occasions. Heavily influenced by literature and music, Estlin incorporates her understanding and knowledge to enhance and add depth to her work. 

            .block.bottom-ten-margin
                Born in Scotland, Estlin spent several years as a child in Tunisia. She returned to the UK and studied economics in Glasgow. Also an avid pianist, she enjoys playing Chopin and Beethoven, but is often to be found at her grand piano improvising around the theme of Twin Peaks.
            .block.bottom-ten-margin
                Having studied trained in dance and gymnastics as a youth, Estlin found the transition into aerial a natural one. She then went on to complete a foundation degree at the circus space in London training under Rita Van Opzeeland. 