.row  
    .span12
        .row
            .span6
                .t2em.special.bottom-twenty-margin
                    Chains
        .row
            .span2
                =image_tag("/images/kat2.jpeg", :size => "500x50")
            .span10
                .t1em
                    Estlin's new chains act is a heady, sexual mix of breathtaking skill and dynamism set to the track "Darling Nikki" by Prince. Taking the classic femme fatal and combining it with the hard medium of chains, the result is a stunning and vulnerable aesthetic. Her raunchiest show yet, it works best with a little audience interaction, and starts with the bang of a champagne cork!
.hdividerbottom.top-bottom-twenty-margin
.row
    .span12
        .row
            .span6
                .t2em.special.bottom-twenty-margin
                    Cloudswing
        .row
            .span2
                =image_tag("/images/kat10.jpeg", :size => "300x50")
            .span10
                .t1em
                    This act is an homage to the tradition of swinging that provided the sparkling glamour we now associate with the term "aerial artiste". Specifically designed to be performed both on and off lunge, this act moves through a classic balkan sound into a haunting piece with daring flips twists and drops. 
            
