.row
    .h150.hdividerbottom.top-bottom-twenty-margin
        .span6
            .t2em.special.bottom-twenty-margin
                Chains
            .t1em
                Estlin's new chains act is a heady, sexual mix of breathtaking skill and dynamism set to the track "Darling Nikki" by Prince. Taking the classic femme fatal and combining it with a hard medium of chains, the result is a stunning and vulnerable aesthetic. Her raunchiest show yet, it works best with a little audience interaction, and starts with the bang of a champagne cork.
            
        .span6
            
.row
    .h150.hdividerbottom.top-bottom-twenty-margin
        .span6
            .t2em.special.bottom-twenty-margin
                Cloudswing
            .t1em
                This act is an homage to the tradition of swinging that provided the sparkling glamour we now associate with the term "inverted aerial artiste". Specifically designed to be performed both on and off lunge, this act moves through a classic balkan sound into a haunting piece with daring flips twists and drops. 
        .span6
            
