.row
    .h150.hdividerbottom.top-bottom-twenty-margin
        .span6
            Chains
        .span6
            Image
.row
    .h150.hdividerbottom.top-bottom-twenty-margin
        .span6
            Chains
        .span6
            Image
.row
    .h150.hdividerbottom.top-bottom-twenty-margin
        .span6
            Chains
        .span6
            Image