.row
    .span12
        .t2em.top-bottom-twenty-margin
            Contact
.row
    .span12
        For all bookings and enquiries please email:
        %a{:href => "mailto:estlinlove@gmail.com"}
            estlinlove@gmail.com