.row
    .span12
        .special.top-bottom-twenty-margin.t2em.tbold
            Teaching
.row
    .span12
        .block
            Estlin is an experienced teacher who has been running regular classes in fitness and aerial in London over the past two years. 
        .block
            She is currently touring the UK teaching weekend workshops when not performing. She is also available for one to one tuition.
        .block
            Please contact her through the 
            %a{:href => "/contact"}
                contact 
            page for more information. 
             